#testeira{
    background-color: blueviolet;
    height: 50px;
    border-radius: 5px;
    box-shadow: rgb(143, 88, 131) 3px 3px 3px;
}
#textodologo{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
/*#imagemdologo{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 20%;
}*/
#salario{
    color:black;
}
#rodape{
    text-align: center;
    padding-top: 10px;
    color: white;
}
.custombutton{
    border-radius: 5px;
    background-color: white;
    color: black;
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;

}
#soleira{
    background-color: blueviolet;
    height: 50px;
    color: #FFFFFF;
    font-size: 20px;
    padding-top: 10px;
    border-radius: 5px;
    box-shadow: rgb(143, 88, 131) 3px 3px 3px;
    margin-bottom: 20px;
}
#rodape{
    background-color: blueviolet;
    border-radius: 5px;
    height: 50px;
    box-shadow: rgb(143, 88, 131) 3px 3px 3px;
}