#titulo {
    height: 50px;
    display: flex;
    justify-content: center;
}

.col-md-4 {
    justify-content: center;
    height: 100px;
    padding: 2px;
    background-color: lightskyblue;
    padding-right: 10px;
}

#l2 {
    padding-top: 10px;
}

#l3 {
    padding-top: 10px;
}

.col1, .col2 {
    border-right: 10px solid white;
}

#soleira {
    margin-top: 30px;
    background-color: rgb(7, 49, 75);
    height: 200px;
    
}
/*#pDaVez {
    display: flex;
    justify-content: center;
    color: aliceblue;
}*/