.linhaRed{
    background-color: rgb(241, 95, 95);
 }
 .linhaBlue{
    background-color: rgb(87, 87, 241);
 }
 .linhaGreen{
     background-color: rgb(130, 226, 130);
 }
 .row{
     text-align: center;
     height: 50px;
     padding-top: 10px;
     padding-bottom: 10px;
     
 }